includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    level: 9
    paths:
        - app/
#        - config/
#        - database/
#        - routes/
#        - tests/
    ignoreErrors:
        - '#PHPDoc tag @var#'
#    parallel:
#        memoryLimit: 1G
#        jobs: 8
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false
