.select2-container {
    .selection {
        .select2-selection {
            border-color : rgb(107, 114, 128) !important;
            padding: 8px 12px;
        }
    }
}
.select2-search__field {
    margin-top: 0 !important;
    height: 23px !important;
    color: rgba(107, 114, 128, 1) !important;
}
.select2-selection__choice {
    color: rgba(219, 234, 254, 1);
    background-color : rgba(37, 99, 235, 1) !important;
    border-color: transparent !important;
    font-size: 0.75rem;
    line-height: 1rem;
    text-transform: uppercase;
    margin: 0 !important;
    margin-right: 5px !important;
    padding-bottom: 3px !important;
    padding-top: 3px !important;
}
.select2-selection__choice__remove {
    height: 22px;
    color: rgba(219, 234, 254, 1) !important;
    border-right-color: rgba(219, 234, 254, 1) !important;

    &:hover {
        background-color : rgba(29, 78, 216, 1) !important;
    }
}
